/*doc
---
title: Colors
name: colors
category: Basics
---
<div class="cf">
	<div class="doc-color-brand">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-base">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-primary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-secondary">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-text">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-link">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-positive">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-negative">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-neutral">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-warning">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-info">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
	<div class="doc-color-special">
		<div class="doc-color-lighter"></div>
		<div class="doc-color-darker"></div>
	</div>
</div>

*/
body, html {
  height: 100%; }

.photo {
  background-image: url("../img/skopjebyprozak.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%; }

.jsexample {
  margin-top: 105px; }

.title {
  color: #1f233e;
  font-size: 36px;
  font-family: 'Archivo Black', sans-serif; }

#input {
  max-width: 400px;
  height: 37px;
  border-radius: 3.2px;
  border: solid 0.8px white;
  background-color: rgba(14, 16, 28, 0.4);
  display: block;
  margin: auto;
  font-family: 'Archivo Black', sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: white; }

#shorten {
  width: 110px;
  height: 50px;
  border-radius: 3.2px;
  border: solid 0.8px white;
  background-color: rgba(159, 42, 89, 0.5);
  margin-top: 48px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: white;
  margin-right: -3px;
  text-transform: uppercase; }

#expand {
  width: 110px;
  height: 50px;
  border-radius: 3.2px;
  background-color: #1f233e;
  border: solid 0.8px white;
  margin-top: 48px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  margin-left: -3px;
  text-transform: uppercase; }

#responseField {
  min-width: 191px;
  min-height: 120px;
  max-width: 400px;
  border: solid 2px white;
  margin: auto;
  margin-top: 25px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: center;
  color: white;
  overflow-wrap: break-word;
  background-color: rgba(14, 16, 28, 0.4); }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*# sourceMappingURL=style.css.map */
